.dubao{
    font-size: 20px;
    text-align: left;
    margin-left: 20px;
}
.fontchu{
    margin-top: 20px;
    margin-bottom: 20px;
}
.map{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
body{
    font-family: 'Segeo UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.back{
    text-align: center;
}
.back1{
    text-align: left;
}
@media only screen and (max-width: 46.18775em){
    .map1{
        width: 100%;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    h2{
        font-size: 20px;
    }
}